* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#clickthrough-button {
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: animate-jacket;
  -webkit-animation-timing-function: linear;
  -webkit-user-select: none;
  animation: forwards;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-name: animate-jacket;
  animation-timing-function: linear;
  background-image: url(../images/Layer12copy.jpg);
  background-position: 0px 0px;
  background-size: 510px 50px;
  cursor: pointer;
  height: 50px;
  outline: none;
  overflow: hidden;
  position: relative;
  user-select: none;
  width: 320px;
}
#content {
  bottom: -1px;
  left: -1px;
  position: absolute;
}
@-webkit-keyframes animate-jacket {
  0% {
    background-position: 0px 0px;
  }
  to {
    background-position: -95px 0px;
  }
}
@keyframes animate-jacket {
  0% {
    background-position: 0px 0px;
  }
  to {
    background-position: -95px 0px;
  }
}

#trans-image {
  z-index: 2;
  position: fixed;
  top: 0px;
}
